* {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    height: 150px;
}

.centralContent {
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}

.centeredHeading {
    text-align:center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border-radius:10px;
    border: 5px solid white;
    height: 100px;
    width: 100px;
}

.grow {
    border:10px solid yellow;
    height: 125px;
    width: 125px;
    transition: all 0.7s ease;
}

.rockButton {
    background-image: url('./img_lib/rock.png');
    background-size: cover;
}

.paperButton {
    background-image: url('./img_lib/paper.png');
    background-size: cover;
}

.scissorsButton {

    background-image: url('./img_lib/scissors.png');
    background-size: cover;
}

img {
    height: 100px;
    width: 100px;
}

#robotCounter, #playerCounter {
    font-size: 144px;
}

.player, .robot {
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.invisible {
    font-size: 0pt;
    margin: 0;
    padding: 0;
}

.visible {
    font-size: 72pt;
    text-align:center;
    transition: all 0.7s ease;
}

.death {
    transform: rotate(90deg);
    outline: 50px solid rgba(70, 4, 4, 0.47);
    outline-offset: -50px;
    transition: all 2s ease;
}